@import url("./global.css");

@import url("../styles/components/button.css");
@import url("../styles/components/forms.css");
@import url("../styles/components/messages.css");

@import url("../styles/pages/auth.css");
@import url("../styles/pages/sounds.css");
