@import url("global.css");

@import url("components/buttton.css");
@import url("components/forms.css");
@import url("components/messages.css");

@import url("pages/auth.css");
@import url("pages/sounds.css");
